<mat-dialog-content
  ><div class="card">
    <div class="card-header">
      <h1>
        <b>Randevularım </b>
      </h1>
    </div>
    <div class="card-body">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Randevularım</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of appointmentList">
              <th scope="row"></th>
              <td> {{a.doctorName}} </td>
              <td>
                <button>
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</mat-dialog-content>
