<mat-dialog-content 
  ><div class="card">
    <div class="card-header">
      <h1>
        <b>Branş Listesi </b>
        <div style="float: right">
          <input type="search" class="form-control" placeholder="Branş Ara.." />
        </div>
      </h1>
      
    </div>
    <div class="card-body">
      
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Branş Adı</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <th scope="row"></th>
              <td></td>
              <td>
                <button>
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</mat-dialog-content>
