
mat-grid-tile {
  background: lightblue;
}
mat-dialog-content{
width:750px;
height: 900px;
}
mat-form-field{
margin-left: 5px;
overflow: hidden;
}

h1{
padding-top: 15px;
margin-bottom: 0%;
display: flex;
justify-content: center}