<h1>{{ title }}</h1>

<mat-dialog-content [formGroup]="form">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div>
        <mat-form-field>
          <mat-label>Enter your name</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="name"
            required
          />
          <mat-error *ngIf=""></mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Hastane Seçiniz</mat-label>
          <mat-select
            formControlName="hospitalName"
            name="hospitalName"
            placeholder="Çalıştığı Hastane"
          >
            <mat-option *ngFor="let h of hospitalList" [value]="h.hospitalName">
              {{ h.hospitalName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Branş Seçiniz</mat-label>
          <mat-select
            formControlName="branchName"
            name="branchName"
            placeholder="Çalıştığı Hastane"
          >
            <mat-option *ngFor="let b of branchList" [value]="b.branchName">
              {{ b.branchName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>E-Mail giriniz</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="email"
            required
          />
          <mat-error *ngIf=""></mat-error>
        </mat-form-field>
       
        
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Telefon Numarası Giriniz</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="phoneNumber"
            required
          />
          <mat-error *ngIf=""></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>İşe Giriş Tarihi</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Doktor Hakkında</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="description"
            required
          />
          <mat-error *ngIf=""></mat-error>
        </mat-form-field>
        <div mat-dialog-actions>
          <button
            mat-raised-button
            mat-dialog-close
            color="primary"
            (click)="addNewDoctor()"
          >
            Kaydet
          </button>
          <button
            mat-raised-button
            mat-dialog-close
            color="accent"
            (click)="cancelNewDoctor()"
          >
            Vazgeç
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
