.navbar {
  margin: 0;
  padding: 0;
  height: 80px;
  width: 100%;
  background-color:#F9CE6F;
  display: flex;
}
.patientOptions {
  display: flex;
  font-size: x-large;
  justify-content: center;
  list-style: none;
  width: 600px;
  cursor: pointer;
  border-radius: 6px;
}
.patientOptions li {
  height: 46px;
  background-color: #ffbb00e3;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 5px;
}
