<div class="card">
    <div class="card-header">
      <h1>
        <b> Doktor Listesi </b>
      </h1>
    </div>
    <div class="card-body">
  
  
      <button class="btn btn-outline-primary" >
        <i class="fa fa-plus"></i>
      </button>
      <div style="float: right;">
          <input type="search"  class="form-control" placeholder="Doktor Ara..">
      </div>
  
      <div class="form-group">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">İsim Soyisim</th>
              <th scope="col">Hastane Adı</th>
              <th scope="col">Alan</th>
              <th scope="col">E-mail</th>
              <th scope="col">Telefon Numarası</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Kardiyolog</td>
              <td>Beyin cerrahı</td>
              <td>aasdasd@gmail.com</td>
              <td>0123456498</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Kardiyolog</td>
              <td>Beyin cerrahı</td>
              <td>aasdasd@gmail.com</td>
              <td>0123456498</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  