<div class="card">
    <div class="card-header">
      <h1>
        <b> Doktor Listesi </b>
      </h1>
    </div>
    <div class="card-body">
  
  
      <button class="btn btn-outline-primary" (click)="addDoctor()">
        <i class="fa fa-plus"></i>Doktor Ekle
      </button>
      <button class="btn btn-outline-primary" style="margin-left: 12px;" (click)="addBranch()">
        <i class="fa fa-plus"></i>Branş Ekle
      </button>
      <div style="float: right;">
          <input type="search"  class="form-control" placeholder="Doktor Ara..">
      </div>
  
      <div class="form-group">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">İsim Soyisim</th>
              <th scope="col">Hastane Adı</th>
              <th scope="col">Alan</th>
              <th scope="col">E-mail</th>
              <th scope="col">Telefon Numarası</th>
              <th scope="col">Kayıt Tarihi </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of doctorList let i =index">
              <th scope="row">{{i+1}}</th>
              <td>{{d.doctorName}}</td>
              <td>{{d.hospitalName}}</td>
              <td>{{d.branchName}}</td>
              <td>{{d.email}}</td>
              <td>{{d.phoneNumber}}</td> 
              <td>{{d.date }}</td>
              <td><button  >
                <i class="fa-solid fa-trash-can"></i>
              </button></td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
</div>
  <router-outlet></router-outlet>