#neubar {
    background:white;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4);
    height: 85px;
  }
  .nav-item{
    font-size: 20px;
  }
  
  .nav-item .active {

  //   border-radius: 6px;
  // background: linear-gradient(145deg, #008E2C, #00C43D);
  // box-shadow: 4px 4px 8px #ddc1a0, -4px -4px 8px #f7e5cc;

    border-radius: 6px;
    background: linear-gradient(145deg, #ffbb00e3, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
                 -4px -4px 8px #f7e5cc;
  }
  .nav-item a:hover{
    border-radius: 6px;
    background: linear-gradient(145deg, #ffbb00e3, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
                 -4px -4px 8px #f7e5cc;
  }
  #neubar .dropdown-menu a:hover {
    color: #454545;
    
  }
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
  
    padding-left:12px;
    padding-right:12px;
  }
  
  #neubar .dropdown-menu {
    background-color : #f7e5cc;
    color: white;
    
  }
  a.navbar-brand {
    color: #454545
  }
