<nav class="navbar navbar-expand-sm navbar-light mt-2" id="neubar">
  <!-- <div class="container" style="width: 100%;">
    <a class="navbar-brand" href="#"> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
</div> -->
    <div class="container collapse navbar-collapse" id="navbarNavDropdown">
      <div>
        <img
          class="Logo"
          style="width: 250px; height: 75px"
          src="assets/logo.png"
          alt=""
        />
      </div>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="#"
            >Ana Sayfa</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Hastaneler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Tıbbi Birimler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Doktorlar</a>
        </li>

        <li class="nav-item"><a class="nav-link mx-2" href="#"><span style="margin-right:4px;">İletişim</span>
          <i class="fa-solid fa-phone"></i></a></li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Contact us</a>
        </li>
      </ul>
    
  </div>
</nav>
